<div id="index">
  <h1>{{ title}}</h1>
  <h1>{{ '' | test}}</h1>

  <p><a ui-sref="directive">View Contacts</a></p>
  <h3>这是一个无任何脚手架、脱离`node.js`前端工作流的 AngularJS 单页应用项目示例，
    基于`requirejs`模块化开发`requirejs+angularjs+ui-router` 实现模块懒加载（`controller` 按需加载），
    路由配置路由拦截、`filter`
    配置,`axios` 网络请求管理封装。
    可以基于本示例直接进入项目开发。</h3>
  <h2>1. RequireJS 文档</h2>
  <p><a href="https://requirejs.org/docs/start.html">https://requirejs.org/docs/start.html</a></p>

  <h2>2. ui-router 文档</h2>

  <p><a href="https://ui-router.github.io/guide/transitionhooks">https://ui-router.github.io/guide/transitionhooks</a>
  </p>

  <h2>3. AngularJS 文档</h2>

  <p> <a href="https://code.angularjs.org/1.7.8/docs/api">https://code.angularjs.org/1.7.8/docs/api</a></p>

  <h2>4. axios文档</h2>
  <p><a href="https://github.com/axios/axios">https://github.com/axios/axios</a></p>
</div>
