* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  list-style: none
}

.nav {
  display: flex;
  flex: 1;
  border-bottom: 1px solid #e3e3e3;
  li {
    flex: 1;
    text-align: center;
    a{
      display: block;
      padding: 10px 0;
      font-size: 18px;
      color: #666;
    }
    a.active {
      color: blue
    }
  }
}

.conatiner {
  width: 100%;
  height: 100%;
  min-height: 90vh;
  background: #fefefe;
}
